@import "tailwindcss";



/* html{
  scroll-behavior: smooth;
} */
@theme {
  --color-primary: #e7e2dd ;
  --color-secondary: #111;
  --color-accent:#afa18f;
  --color-hint: #ec4e39;
}
:root {
  --color-primary: #e7e2dd;
  --color-secondary: #111;
  --color-accent:#afa18f;
  --color-hint: #ec4e39;
  /* d24811 */
 
  /* --card: #e7e2dd;
  --card-foreground: #e7e2dd;
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0); */
 
}
::selection {
  background-color: var(--color-hint);
  color: #111;
}
mark {
  background-color: var(--color-hint);
  padding: 0px 4px;
}

body {
  background-color: var(--color-secondary);
  /* pointer-events: none; */
  /* cursor: none; */
}

.main {
  height: 100vh;

  .mask,
  .body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afa18f;
    font-size: 64px;
    line-height: 66px;
    cursor: default;

    p {
      width: 1000px;
      padding: 40px;
    }
    span {
      color: var(--color-hint);
    }
  }

  .mask {
    mask-image: url("./../public/mask.svg");
    mask-repeat: no-repeat;
    mask-size: 40px;
    background: var(--color-hint);
    position: absolute;
    color: black;
  }
}


/* 
 @theme inline {
 
  --color-card: var(--card); 
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  
}  */


/* 
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
